.app {
  display: flex;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  justify-content: center;
  min-height: 100vh;
}
.app__container {
  width: 80%;
  height: 100%;
  max-width: 375px;
  background-color: rgb(135, 206, 250);
  margin-top: 30px;
  padding: 20px;
  border-radius: 5px;
}
.reset-button__container {
  display: flex;
  justify-content: center;
}
@media (max-width: 765px) {
  .app__container {
    width: 90%;
  }
}

.app__heading {
  text-align: center;
  color: white;
}
